#start, #waiting {
    margin: 0;
    padding: 0;
    background-image: url('https://github.com/ECO241/proyecto-final-eco241-kimagure-cupcakes/blob/sofia/imagenes/img%20start.png?raw=true');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins';
}

#waiting {
    align-content: center;
}

#start section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
    font-family: 'Satisfy';
    color: #352626;
}

#start .start{
    display: flex;
    flex-direction: column;
    align-items: center;


}
::placeholder {
    color: #5912CD;
    font-size: 20px;
}

#start input {
    border-radius: 10px;
    background-color: white;
    opacity: 0.6;
    color: #5912CD;
    border-style: solid;
    border-color: #5912CD;
    border-radius: 50px;
    height: 40px;
    width: 300px;
    margin-bottom: 50px;
    text-align: center;
  }

  #start button {
    background-color: #FFFFFF;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    font-family: 'Satisfy';
    font-size: 25px;
    text-align: center;

}
