#default {
    margin: 0;
    padding: 0;
    background-image: url('https://github.com/ECO241/proyecto-final-eco241-kimagure-cupcakes/blob/sofia/imagenes/img%20index.png?raw=true');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#default .container {
    text-align: center;
}

#default button {
    border: none;
    padding: 0;
    background: transparent;
    margin-top: 400px;
}
#default button img {
    width: 120px;
    height: 120px;
}
