body {
    margin: 0;
    padding: 0;
    background-image: url('https://media.discordapp.net/attachments/1108887572618412231/1233123414756036668/backgroundtoppins.png?ex=662bf32c&is=662aa1ac&hm=faea9ce86c68c517a78e5a19d005faa383536b31c28f10c382bc34fb6b63f0ca&=&format=webp&quality=lossless&width=881&height=626');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    border: none; 
    padding: 0; 
    background: transparent;
    margin-top: 30px;
    margin-bottom: 50px;
}
button img {
    width: 200px; 
    height: 200px; 
}
#machine{
    height: 450px;
}