body {
    margin: 0;
    padding: 0;
    background-image: url('https://media.discordapp.net/attachments/1108887572618412231/1233117336324804688/backgroundglazec-u.png?ex=662bed83&is=662a9c03&hm=69e01b61154ae13875c1f2d70ee279b4f341638ce4eef4085cc83e79f15dacc7&=&format=webp&quality=lossless&width=615&height=437');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    
}
h1 {
    font-size: 150px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'Satisfy';
    color: #fff;
}
img{
    width: 400px;
}