body {
    margin: 0;
    padding: 0;
    background-image: url('https://media.discordapp.net/attachments/1108887572618412231/1233114687164649563/backgroundglaze.png?ex=662beb0b&is=662a998b&hm=6ae88a85db8edf3cef830286f2cb964ec27d9fe3954b8af2a21c77ac8d1b2f7e&=&format=webp&quality=lossless&width=881&height=626');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    border: none; 
    padding: 0; 
    background: transparent;
    margin-top: 30px;
    margin-bottom: 50px;
}
button img {
    width: 200px; 
    height: 200px; 
}
#machine{
    height: 450px;
}